@import "variables";

.contact-container {
  //min-width: 450px;
  width: 100vw;
  position: relative;
  z-index: 0;
  background: $primary-color;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 10vw;
  padding-bottom: 5vw;
}

.custom-shape-divider-top-1701897315 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: $background-color;
  margin-top: -0%;
  z-index: 3;
}

.contact-me-section {
  width: 100%;
  display: block;
  padding: 30px;
  height: 550px;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: $font-text;
  font-size: 16px;
  padding-top: 7px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-left: -8px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: none;
  //box-shadow: inset 0px 2px 4px#CFCFCF;
  border: 1px solid #cfcfcf;
  font-family: $font-text;
  font-size: 16px;
}

.coffee {
  width: 40vw;
  height: auto;
  max-height: 70vh;
  position: absolute;
  z-index: -1;
  margin-left: -20vw;
  margin-top: -360px;
  color: $background-color;
}

textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  border: 2px solid $secondary-color;
  outline: none;
}

.form-section {
  padding-top: 30px;
}

.form-section-title {
  margin-bottom: 0;
  margin-top: 0;
  color: $secondary-color;
}
.contact-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.github-icon {
  width: 60px;
  height: 60px;
  color: $secondary-color;
  padding-right: 20px;
}

span {
  color: $secondary-color;
}

.dark-mode {
  .contact-container {
    background: $primary-color;
  }

  input,
  textarea {
    background: $text-color;
  }
}

label {
  color: $text-color;
}

@media (max-width: 800px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding-bottom: 60px;
    padding-top: 0;
  }

  .contact-me-section {
    padding-bottom: 0;
  }

  .form-section {
    padding-top: 0;
  }
}

//floating lable css from https://codepen.io/devesh8/pen/MWYEJEP
