@import 'variables';

.container {
    height: 25px;
    width: 50px;
    background: $primary-color-2;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
  }

  .handle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $sun-color;
    overflow: hidden;
    border: 1px solid #f8e328;
  }

  .icon {
    color: #f88748;
  }
  
.dark-mode {
  .handle {
    border: 1px solid #f8f8f8;
    background-color: #e7e7e7;

  }

}