@import "variables";

.projectCoverImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../assets/projects/HotspotHeroImage.jpg");
}

h3, h5{
  color: $text-color;
}

.space {
  height: 300px;
}

.projects-container {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: $background-color;
}

.featured-projects {
  display: grid;
  z-index: 11;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100vw;
  max-width: 130vh;
  padding-left: 10px;
  padding-right: 10px;
}

.project {
  position: relative;
  background-size: cover;
  background-position: center;
  flex: 1;
  overflow: hidden;
  border-radius: 5px;
}

.project-label {
  height: 80px;
  h5 {
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
  }
  P {
    margin: 0;
  }
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 60vh;

  @media (max-height: 700px) {
    height: 80vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay h4 {
  color: white;
  margin: 0;
  padding-left: 15%;
  padding-top: 10;
  padding-right: 15%;
  text-align: center;
}

.overlay p {
  color: white;
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.title {
  white-space: nowrap;
  margin: 0px;
  padding: 0px;

  h2 {
    padding: 0;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  padding-bottom: -30px;
  padding-right: 20px;
}

.wide-project {
  grid-column: span 2;
  flex: 1 1 100%;
  height: 70vh;
}

@media (max-width: 1450px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-title {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    width: 100vw;
    max-width: 130vh;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .featured-projects {
    display: grid;
    z-index: 11;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    height: auto;
  }
  .project.in-view .overlay {
    opacity: 1;
  }
  .project {
    height: 50vh;
  }
  .wide-project {
    grid-column: auto; 
  }
}
